<div class="container">
  <div *ngIf="order()">
    <h3 style="text-align: center;">Orders List</h3>
    <span style="color:red">* </span>
    check the checkboxes to remove from due orders list.
    <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
        <div *ngFor="let c of customers;let i=index">
          <div style="border:1px solid black;border-radius:5px;margin: 5px;" *ngIf="c.Items.length">
            <h4 style="text-align: center;">{{c.ShopName}}</h4>
            <div style="margin-left: 2%;"class="row justify-content-center">
                <div class="col-md-3" style="min-height:40px;border:1px solid black;border-radius:5px;padding:2%;margin: 2%;" *ngFor="let it of c.Items;let j=index">
                            <input type="checkbox" value="{{c._id}}+{{it._id}}+{{it.Price}}+{{it.Quantity}}" (change)="onCheckboxChange($event)">
                            <span>
                            <b>{{it.Name}}</b><br>
                            Price:<b>{{it.Price}}</b>
                            <br>
                            Quantity:<b>{{it.Quantity}}</b>
                            <span style="float:right;margin-top: -10%;">
                                Time of Order:<br>
                                <b>{{it.Time}}</b>
                            </span><br>
                            </span>
                </div>
            </div>
            Total Amount:<b>{{c.Amount}}</b>
        </div>
        </div>
        <button class="btn btn-success" type="submit">Submit</button>
        </form>
      </div>
      <div *ngIf="!order()" style="margin-left:40%">
        <i class="fas fa-shopping-cart text-warning mb-3" style="font-size: 10em;margin-top: 1em;"></i>
        <h2 class="text-warning">No Due Orders</h2>
      </div>
</div>
